<li class="generated_score_list"> 
<input type="hidden" value="<%- id %>" class="hidden_id">
<input type="hidden" value="<%- display_score %>" class="hidden_display_score">
<div class="score_list_name"><%- name %></div> 
<div class="score_list_sound"><span><%- sound_name %></span></div> 
<div class="score_list_score"><%- score_string %></div> 
</li>

