<li class="generated_score_list score_id_is_<%- id %>"> 
<div class="score_list_name"><%- name %></div> 
<div class="score_list_sound"><%- sound_name %></div> 
<div class="score_list_score"><%- score_string %></div> 
<input type="hidden" value="<%- id %>" class="hidden_id">
<input type="hidden" value="<%- sound_id %>" class="hidden_sound_id">
<input type="hidden" value="<%- display_score %>" class="hidden_display_score">
</li>

