<li class="generated_score_list score_id_is_<%- id %>"> 
<div class="score_list_name"><%- name %></div> 
<div class="score_list_sound"><%- sound_name %></div> 
<div class="score_list_score"><%- display_score %></div> 
<input type="hidden" value="<%- id %>" class="hidden_id">
<input type="hidden" value="<%- sound_id %>" class="hidden_sound_id">
<input type="hidden" value="<%- score_string %>" class="hidden_actual_score">
</li>

